*.apk
*.ap_
*.dex
*.class
/bin/
/gen/
local.properties
build.properties
/OIDCAuthFlow/build/
/OIDCAuthFlow/src/main/res/.DS_Store
/.gradle/
/.idea/
/.DS_Store
/OIDCAuthFlow/.DS_Store
/OIDCAuthFlow/OIDCAuthFlow-OIDCAuthFlow.iml
/.idea/misc.xml
/OIDCAuthFlow.iml
*.iml
\#*
*~
.#*
\#*\#
*.class
/.DS_Store
build
